.mainContainer {
    display: flex;
    gap: 20px;
}

.leftCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.rightCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
  .formConatiner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .saveButton {
    background-color: #4CAF50 !important;
    color: white !important;
    font-size: 16px;
    width: 40%;
    padding: 12px 28px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
  }
  
.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
  